*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    font-family: 'Rubik Iso', cursive;
}
.landing{
    min-height: 100vh;
    background: url(../img/c28673b4-bbee-4ea2-8a23-0d3131ba775b.jpg);
    background-size: cover;
    padding: 0rem 5rem;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
}
.nav-links{
    display: flex;
    list-style: none;
}
.nav-links li{
    padding-left: 9rem;
    font-size: 1.2rem;
}
#logo{
    font-weight: lighter;
    font-size: 2rem;
}
.big-text{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    font-size: 5rem;
}
.intro{
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider{
    background: rgb(101, 56, 146);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}
.intro-text{
    color: aliceblue;
    font-size: 3rem;
    font-family: 'Heebo', sans-serif;
}
.hide{
    background: black;
    overflow: hidden;
}
.hide span{
    transform: translateY(100%);
    display: inline-block;
}