ul{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
    background-color:  rgb(47, 64, 159);
 }
 ul > li {
    display: inline-block;
    list-style: none;
    padding: 15px;
 }
 a{
    color: white;
    text-decoration: none;
 }
  li:hover, .first{
    /* color: blue; */
    background-color: red;
 }
 ul>li ul{
    display: none;
 }
 ul>li:hover{
    position: relative;
 }
 ul>li:hover ul.submeniu{
    display: block;
    width: 150px;
    position: absolute;
    z-index: 2;
    margin-top: 20px;
 }
 .submeniu li{
    display: inline-block;
 }